.clickshow {
    &__main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;

        &.column {
            flex-direction: row;
            flex-wrap: nowrap;

            @media (max-width: @device-width-small) {
                flex-wrap: wrap;
            }
        }
    }


    .clickshow__widget {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;

        width: 100%;

        @media (max-width: @device-width-small) {
            flex-direction: column;
        }

        margin: 1rem 0;

        &.is-visited {
            background-color: @rssb-cloud;
            .right {
                display: flex;
                opacity: 1;
                animation-name: fadeIn;
                animation-duration: 1s;
            }
        }

        margin: 0.5rem 1rem 0.5rem 0rem;
        &.column {
            margin: 0 0.5rem;
            flex-direction: column;
            width: auto;
        }
    }

    .clickshow__item {

        display: flex;
        flex: 0 0 auto;

        align-items: stretch;
        justify-content: stretch;

        position: relative;


        &.left {
            cursor: pointer;

            max-width: 35%;
            @media (max-width: @device-width-small) {
                max-width: 100%;
            }

            button {
                color: @item-color;
                background-color: @item-color-inverted;
                z-index: 2;
            }

            img {
                object-fit: contain;
                @media (max-width: @device-width-medium) {
                    background-color: @rssb-turquoise!important;
                }
                @media (max-width: @device-width-small) {
                    background-color: transparent!important;
                }
            }
        }
        &.right {
            @media (max-width: @device-width-small) {
                display: none;
            }

            // max-width: 65%;

            opacity: 0; 
            flex: 1 1 auto;
            overflow: hidden;
        }  

    }

    .text {
        color: @item-color-inverted;
        background-color: @item-color;
        font-weight: bold;
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        h3, p {
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        
        text-align: center;

        margin-top: 0;
        margin-left: 0.5rem;
        overflow: hidden;

        @slant-width: 8rem;
        padding-right: @slant-width;
        @media (max-width: @device-width-medium) {
            padding-left: 1rem;
            text-align: left;
            align-items: flex-start;
        }
        @media (max-width: @device-width-small) {
            padding-right: 1rem;

            h3, p {
                margin-block-start: 0.75em;
                margin-block-end: 0.75em;
            }
        }

        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: @slant-width;
            height: 100%;
            background: @rssb-turquoise;
            -webkit-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
            -webkit-transform: skew(-22deg);
            -ms-transform: skew(-22deg);
            transform: skew(-22deg);
            z-index: 1;

            @media (max-width: @device-width-small) {
                display: none;
            }
        }
    }

    .column {
        .text {
            margin-top: 0.5rem;
            margin-left: 0;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


.dir-rtl {
    .clickshow {
        .clickshow__item.left {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}