<div class="sound__inner">

  <div class="sound">
      <audio id="audio" autoplay>
        <source id="audio-src" src="{{src}}" type="audio/mp3">
        Your browser does not support the sound element.
      </audio>

      <div id="audio-transcript">
        <div class="transcript"></div>
      </div>
  </div>

</div>
